@{
    ViewData["Title"] = "Configuración del Juego";
}

<h2>Configuración del Juego</h2>

<form method="get" action='@Url.Action("Comenzar", "Home")'>
    <fieldset>
        <legend>Elegí la categoría:</legend>
        <input type="radio" id="todas" name="categoria" value="-1" checked>
        <label for="todas">Todas las categorías</label><br />

        @foreach (var cat in ViewBag.categoria)
        {
            <input type="radio" id="cat_@cat.Id" name="categoria" value="@cat.Id" />
            <label for="cat_@cat.Id">@cat.Nombre</label><br />
        }
    </fieldset>

    <p>
        <label for="user">Nombre</label><br />
        <input type="text" id="user" name="username" placeholder="Nombre" required />
    </p>

    <input type="submit" value="Comenzar juego" />
    <input type="reset" value="Reiniciar" />
</form>
