@{
    ViewData["Title"] = "ConfiguracionJuego";
}

<form method="get" action='@Url.Action("Comenzar", "Home")'>
  <fieldset>
    <legend>Elegí la categoría:</legend>

    <input type="radio" id="todas" name="categoria" value="-1" checked>
    <label for="todas">Todas las categorías</label><br>

    <input type="radio" id="ciencia" name="categoria" value="1">
    <label for="ciencia">Ciencia</label><br>

    <input type="radio" id="historia" name="categoria" value="2">
    <label for="historia">Historia</label><br>

    <input type="radio" id="deportes" name="categoria" value="3">
    <label for="deportes">Deportes</label><br>

    <input type="radio" id="arte" name="categoria" value="4">
    <label for="arte">Arte</label><br>

    <input type="radio" id="geografia" name="categoria" value="5">
    <label for="geografia">Geografía</label><br>
  </fieldset>

  <p>
    <label for="user">Nombre</label><br>
    <input type="text" id="user" name="usu" placeholder="Nombre" />
  </p>

  <input type="submit" value="Comenzar juego" />
  <input type="reset" value="Reiniciar" />
</form>