@{
    ViewData["Title"] = "Fin del Juego";
}

<h2>¡Juego terminado!</h2>

<p>Nombre de usuario: @ViewBag.Username</p>
<p>Puntaje final: @ViewBag.PuntajeActual</p>

<a href ="@Url.Action("ConfigurarJuego", "Home")">Volver a jugar</a>
